<h1 class="text-center">Race, who's gonna win ?</h1>
    <hr>
    <!-- You race HTML code here -->
    <div class="container">
      <table class="racer_table">
        <tr id="player1_race">
          <td class="active"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="arrivee"></td>
        </tr>
        <tr id="player2_race">
          <td class="active"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="arrivee"></td>
        </tr>
      </table>
    </div>

    <hr>
