<h1 class="text-center">Race, who's gonna win ?</h1>
<h3 class="text-center">Press "c" for <%= image_tag "player_1.png", alt: "cocktail" %> - Press "b" for <%= image_tag "player_2.png", alt: "beer" %></h3>
    <hr>
    <!-- You race HTML code here -->
    <div class="container">
      <table class="racer_table">
        <tr id="cocktail_race">
          <td class="active"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="arrivee"></td>
        </tr>
        <tr id="beer_race">
          <td class="active"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="arrivee"></td>
        </tr>
      </table>
    </div>

    <hr>
