<div class="container">
  <div class="cocktail-header">
    <h1>List of all cocktails</h1>
    <input type="submit" id="add-a-cocktail" value="add-a-cocktail" class = "btn btn-primary" style = "margin-left: 15px;">
  </div>
</div>

<div class="row">
    <div class="col-xs-6 col-xs-offset-2">
        <div id="form-new"">
          <%= render 'form', cocktail: @cocktail %>
        </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @cocktails.each do |c| %>
      <div class="col-xs-6 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://goo.gl/PYcd8K');">
          <div class="card-category">
            <%= link_to icon('far', 'times-circle'), cocktail_path(c.id), method: :delete, data: {confirm: "sure?"}   %>
          </div>
          <div class="card-description">
            <h2><%= link_to c.name, cocktail_path(c.id) %></h2>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= cl_image_tag("uiogaork4b3jvqx8rs9k",
      width: 400, height: 300, crop: :fill) %>
</div>


