.racer_table td {
  height: 100px;
  width: 100px;
  border: 1px solid grey;
}
.racer_table td.active {
  background-repeat: no-repeat;
  background-size: 100%;
}
#player1_race td.active {
  background-image: image-url("player_1.png");
  background-size: 90px;
  background-position: center;
}

#player2_race td.active {
  background-image: image-url("player_2.png");
  background-size: 60px;
  background-position: center;
}

.racer-table {
  display: flex;
  align-items: center;
  justify-content: center;
}

td.arrivee {
  background-image: image-url("arrivee.jpg");
  background-size: 60px;
  background-position: center;
}
